  <script type="text/html" id="chart_card_templ">
      <div class="card chart_card mx-1" id="chart_card_<%=`${seq}_${sseq}`%>">
        <div class="card-header bg-white d-flex justify-content-between">
          <h5 class="card-title my-0 px-0" id="chart_title_<%=`${seq}_${sseq}`%>" title="<%= chart_name %>">
            <span class="chart_name"><%= chart_name %></span>
          </h5>
          <!-- <i id="i_<%=`${seq}_${sseq}`%>" class="fa fa-camera fa-fw float-right export_png cursor-pointer" data-target="chart_card_<%=`${seq}_${sseq}`%>" data-chart-name="<%= chart_name %>" title="Chart will be saved as image in few seconds!"></i> -->
          <!-- <div class="d-flex align-items-center small"> -->
            <!-- <span class="text-muted ml-2">Legend:</span> -->
            <!-- <span class="ml-2"><i class="fas fa-circle text-success"></i> Good</span> -->
            <!-- <span class="ml-2"><i class="fas fa-circle text-danger"></i> Bad</span> -->
          <!-- </div> -->
        </div><!-- .card-header -->
        <div class="card-body chart-body" id="chart_div_<%=`${seq}_${sseq}`%>">
            <!-- <script src="ifri_commfor?_format=custom"></script> -->
          <!-- <img class="img-fluid" src="ifri_commfor?chart=pointplot&ycol=fsize&xcol=cid&width=400&height=300" alt="" > -->
        </div><!-- .card-body -->
        <% if (chart_vars_len > 1) { %>
          <div class="ch_var_dd px-5" id="<%=`${seq}_${sseq}`%>_dd" data-seq="<%=seq%>" data-sseq="<%=sseq%>"></div>
        <% } %>
      </div><!-- .card -->
  </script>
  <script type="text/html" id="sec_var_templ">
    <div class="d-flex flex-column ">
      <div class="block-head">
        <!-- <h5>< % = chart_name % ></h5> -->
      </div>
      <div class="charts_row d-flex flex-row"></div>
    </div>
  </script>
  <script type="text/html" id="sec_deck_templ">
    <div class="sec-deck" id="<%=sec_id%>">
      <h4 class="card-title my-0">
        <button class="btn btn-md collapsed" type="button" data-toggle="collapse" data-target="#<%=sec_id%>_cards" role="button" aria-expanded="true" aria-controls="<%=sec_id%>_cards">
        </button>
      </h4>
      <div class="card-deck d-flex flex-row justify-content-center collapse show" id="<%=sec_id%>_cards"></div>
    </div><!-- .card-deck -->
  </script>
  <!-- tab-section template -->
  <script type="text/html" id="sec_tab_base_templ">
    <div class="sec-tab" id="sec_tab_base">
      <nav>
        <div class="nav nav-tabs nav-fill" id="nav-sec-tab" role="tablist">
          <!-- <a class="nav-item nav-link active" id="nav-sec-tab-< %=sseq% >" data-toggle="tab" href="#nav-sec-tab-< %=sseq% >" role="tab" aria-controls="nav-sec-tab-< %=sseq% >" aria-selected="true">< %=sec_name% ></a> -->
        </div>
      </nav>
      <div class="tab-content sec-tab-content" id="nav-sec-tab-content">
          <!-- <div class="tab-pane fade show active border border-light rounded-bottom" id="nav-univariate" role="tabpanel" aria-labelledby="nav-univariate-tab"></div> -->
      </div>
    </div>
  </script>
  <script type="text/html" id="sec_tab_templ">
    <div class="tab-pane fade <%= (seq == 0) ? 'show active' : '' %> border border-light rounded-bottom" id="sec-tab-<%=seq%>" role="tabpanel" aria-labelledby="nav-sec-tab-<%=seq%>">
      <ul id="<%=sec_id%>_filters" class="navbar-nav d-flex flex-row ml-auto"></ul>
      <div class="card-deck d-flex flex-row justify-content-center" id="<%=sec_id%>_cards"></div>
    </div>
  </script>
  <script type="text/html" id="sec_nav_tab_templ">
    <a class="nav-item nav-link <%= (seq == 0) ? 'active' : '' %>" id="nav-sec-tab-<%=seq%>" data-toggle="tab" href="#sec-tab-<%=seq%>" role="tab" aria-controls="sec-tab-<%=seq%>" aria-selected="true"><%=sec_name%></a>
  </script>
  <!-- end tab-section template -->

  <!-- forest_gov template start -->
  <script type="text/html" class="forest_gov_sec_tmpl">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active title-case" id="nav-univariate-tab" data-toggle="tab" href="#nav-univariate" role="tab" aria-controls="nav-univariate" aria-selected="true"><%='{{ui_conf_key}}'.replace(/[^A-Z0-9]+/ig, " ")%> - Univariate</a>
        <a class="nav-item nav-link title-case" id="nav-bivariate-tab" data-toggle="tab" href="#nav-bivariate" role="tab" aria-controls="nav-bivariate" aria-selected="false"><%='{{ui_conf_key}}'.replace(/[^A-Z0-9]+/ig, " ")%> - Bivariate</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active border border-light rounded-bottom" id="nav-univariate" role="tabpanel" aria-labelledby="nav-univariate-tab">
          <div class="accordion" id="univariate-div">
          </div>
        </div>
        <div class="tab-pane fade border border-light rounded-bottom" id="nav-bivariate" role="tabpanel" aria-labelledby="nav-bivariate-tab">
          <nav class="navbar navbar-expand-lg navbar-light bg-light py-1">
            <div id="bv_chart_params" class="navbar-nav w-100 d-flex justify-content-around"></div>
          </nav>
          <div id="bv_charts" class="bv_charts row py-1">
            <div class="col-md-3 px-1 border-right" id="full_chart_div"></div>
            <div class="col-md-9 px-1" id="gsplit_chart_div"></div>
          </div>
        </div>
    </div>
  </script>
  <!-- forest_gov template end -->
  <!-- land-use, livelihood template start -->
  <script type="text/html" class="land_use_sec_tmpl  Livelihood_sec_tmpl Natural_Resources_sec_tmpl">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active title-case" id="nav-univariate-tab" data-toggle="tab" href="#nav-univariate" role="tab" aria-controls="nav-univariate" aria-selected="true"><%='{{ui_conf_key}}'.replace(/[^A-Z0-9]+/ig, " ")%></a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active border border-light rounded-bottom" id="nav-univariate" role="tabpanel" aria-labelledby="nav-univariate-tab">
        <div class="accordion" id="univariate-div">
        </div>
      </div>
    </div>
  </script>
  <!-- land-use, livelihood template end-->
  <!-- row-group-chart-card start -->
  <script type="text/html" id="row_group_chart_card_templ">
    <div class="card row_group chart_card mx-1" id="chart_card_<%=`${seq}_${sseq}`%>">
      <div class="card-header bg-white d-flex justify-content-between">
        <h5 class="card-title my-0 px-0" id="chart_title_<%=`${seq}_${sseq}`%>" title="<%= chart_name %>">
          <span class="chart_name"><%= chart_name %></span>
        </h5>
        <!-- <i id="i_<%=`${seq}_${sseq}`%>" class="fa fa-camera fa-fw float-right export_png cursor-pointer" data-target="chart_card_<%=`${seq}_${sseq}`%>" data-chart-name="<%= chart_name %>" title="Chart will be saved as image in few seconds!"></i> -->
        <!-- <div class="d-flex align-items-center small"> -->
          <!-- <span class="text-muted ml-2">Legend:</span> -->
          <!-- <span class="ml-2"><i class="fas fa-circle text-success"></i> Good</span> -->
          <!-- <span class="ml-2"><i class="fas fa-circle text-danger"></i> Bad</span> -->
        <!-- </div> -->
      </div><!-- .card-header -->
      <div class="card-body chart-body" id="chart_div_<%=`${seq}_${sseq}`%>">
          <!-- <script src="ifri_commfor?_format=custom"></script> -->
        <!-- <img class="img-fluid" src="ifri_commfor?chart=pointplot&ycol=fsize&xcol=cid&width=400&height=300" alt="" > -->
      </div><!-- .card-body -->
      <div class="ch_var_dd px-5" id="<%=`${seq}_${sseq}`%>_dd" data-seq="<%=seq%>" data-sseq="<%=sseq%>"></div>
    </div><!-- .card -->
  </script>
  <!-- row-group-chart-card end -->
  <div class="container-fluid py-1 sec-container">
      <ul id="global_filters" class="navbar-nav d-flex flex-row ml-auto"></ul>
      <div class="alert alert-danger data_load_alert d-none" role="alert">
        <span class="err_msg"></span>
        <a class="btn btn-link" href=".">Reload</a>
      </div>
      <div class="alert alert-info export_png_alert d-none" role="alert">
        Chart will be saved as image file in few seconds
      </div>
      <div id="top_sec_container"></div>
  </div><!-- .container-fluid -->
  {% from gramex.config import variables as cvar %}
  {% import json %}
  {% autoescape None %}
  <script>
    var gfilters = {{ json.dumps(cvar[ui_conf_key].get('global_filters', [])) }};
    var gf_changed = null,
        gf_do = {},
        chtype = 'bar',
        ycol = 'sindpop',
        xcol = 'fsize',
        cate = 'cid',
        xcol_type = 'quantitative',
        ycol_type = 'quantitative',
        ui_conf_key = '{{ui_conf_key}}',
        base_data_url = URI("{{cvar['data_filter_url'][ui_conf_key]}}"),
        ds_filter_url = URI("{{cvar['data_filter_url'][ui_conf_key]}}"), // URI("ifri_commfor"),
        pg_do = {},
        oth_do = {};
    var gfilter_url = URI("{{ui_conf_key}}_global_filters");
    var chart_type_map = {{ json.dumps(cvar['chart_type_map']) }};
    var def_color_opt = {color: {field: cate, 
                                type: "nominal",
                                legend: null
                        }};
    var def_encoding = {
                        y: {field: ycol, type: ycol_type},
                        x: {field: xcol, type: xcol_type},
                      };
    var def_conf = {id: null,
                    spec: {
                      data: {name: "data", values: []},
                      "$schema": "https://vega.github.io/schema/vega-lite/v4.json",
                      autosize: { type: "fit", contains: "padding"},
                      width: 265,
                      height: 280,
                      mark: chtype,
                      encoding: def_encoding},
                    }

    function set_conf_layer(fkey, seq, xcol, xcol_type, ch_conf, ch_var, agg_op, agg_col){
      //debugger;
      ch_conf['spec']['transform'] = [{"aggregate": [{
                                           "op": agg_op,
                                           "field": agg_col,
                                           "as": `r${agg_op}`
                                           }],
                                           "groupby": [xcol, "qfilter"]
                                          }
                                        ];
      if(oth_do[fkey] != null){
        ch_conf['spec']['transform'].push({"joinaggregate": [{
                                                "op": "sum",
                                                "field": `r${agg_op}`,
                                                "as": "total"
                                              }],
                                              "groupby": [xcol]
                                            });
        ch_conf['spec']['transform'].push({"calculate": `datum.r${agg_op} / datum.total`, "as": "c_share"});
        ch_conf["spec"]["layer"] = [{"mark": {"type": chart_type_map[ch_var["var_type"]]}, "tooltip": {"content": "encoding"}},
                                    {"mark": {"type": "text",
                                              "align": "left",
                                              "baseline": "middle",
                                              "dx": -12, "dy": -12},
                                      "encoding": {"text": {"field": "c_share", "type": "quantitative", "format": ".01%"}}
                                    }];
      }else{
        ch_conf["spec"]["layer"] = [{"mark": {"type": chart_type_map[ch_var["var_type"]]}, "tooltip": {"content": "encoding"}},
                                    {"mark": {"type": "text",
                                              "align": "left",
                                              "baseline": "middle",
                                              "dx": -12, "dy": -12},
                                      "encoding": {"text": {"field": `r${agg_op}`, "type": "quantitative", "format": ",d"}}
                                    }];
      }
      var lab_ang = -35; //(ui_conf_key == 'Natural_Resources') ? 0 : -35;
      var ch_encode = {"x": {"field": xcol,
                              "type": xcol_type,
                              //"sort": {"field": "c_share", "order": "descending"},
                              "axis": {"title": null, "labelAngle": lab_ang, "labelMaxLength": 10}}}; // _.clone(def_encoding);
      if(ch_var["domain"]){
        ch_encode["x"]["scale"] = { "domain": ch_var["domain"]};
      }
      ch_encode["color"] = {field: xcol, type: "nominal", legend: null};

      ch_encode["y"] = {"field": `r${agg_op}`, "type": "quantitative", "axis": {"title": null}};
      if(seq == 0 && ui_conf_key == 'forest_gov'){
        ch_encode["y"]["scale"] = {"domain": [0, 160]}; //To-Do: compute max value across columns within the row
      }
      ch_encode["tooltip"] = [{"field": xcol, "type": xcol_type},
                              {"field": `r${agg_op}`, "type": "quantitative", "format": ".1f"}
                            ]
      ch_conf["spec"]["encoding"] = ch_encode;
      return ch_conf;
    }

    function update_chart(fkey,  seq, sseq, ch_var, comb_oth){
        $("body").addClass("loading");
        var ch_conf = _.cloneDeep(def_conf);
        var ch_id = `${seq}_${sseq}`; //_.kebabCase(ch_var["chart_name"]);
        ch_conf["id"] = `chart_div_${ch_id}`;
        if(_.isUndefined($(`#${ch_conf["id"]}`).vega) == false){
          $(`#${ch_conf["id"]}`).vega.finalize();
        }
        $(`#chart_title_${ch_id} .chart_name`).html(ch_var["var_name"]).attr("title", ch_var["var_name"]);
        $(`#i_${seq}_${sseq}`).attr("data-chart-name", ch_var["var_name"]);
        xcol = ch_var["chart_var"];
        xcol_type = ch_var["var_type"];
        if(xcol_type == "quantitative" || xcol_type == "integer"){
          ch_conf["spec"]["mark"] = {"type": chart_type_map[ch_var["var_type"]], "tooltip": {"content": "encoding"}};
          var dcol = _.map(pg_do[fkey], function(d){ return d[xcol] != "N/A" ? d[xcol] : 0 });
          var kde = ss.kernelDensityEstimation(dcol)
          var breaks = ss.equalIntervalBreaks(dcol, 100)
          var dist_do = breaks.map(function(d) {
                      var dval = {"ycol":kde(d)};
                      dval[xcol] = d;
                      return dval;
                    })
          var ch_encode = {"x": {"field": xcol, "type": "quantitative", "axis": {"title": null, "labelAngle": 0}},
                           "y": {"field": "ycol", "type": "quantitative", "axis": {"title": "Distribution (KDE)"}}};
          ch_encode["tooltip"] = [{"field": xcol, "type": "quantitative"},
                                  {"field": 'ycol', "type": 'quantitative', "format": ".1f"}
                                  ]
          if(xcol_type == "integer"){
            ch_encode["x"]["bin"] = true;
          }
          ch_conf["spec"]["encoding"] = ch_encode;
          ch_conf['spec']['data']["values"] = dist_do;
        }else{
          ch_conf = set_conf_layer(fkey, seq, xcol, xcol_type, ch_conf, ch_var, "count", "*");
          // ch_encode["y"] = {"aggregate": "count",
          //                   "field": "*",
          //                   "type": "quantitative",
          //                   "axis": {"title": null}};    // "Count"}}
          if(ch_var["var_type"] == "ordinal"){
            ch_conf["spec"]["encoding"]["color"] = {field: xcol, type: "nominal", legend: null};
          }
          // ch_encode["x"] = 
          //ch_conf["spec"]["encoding"] = ch_encode;
          var ch_do = pg_do[fkey];
          // debugger;
          if(comb_oth && oth_do[fkey] != null){
            ch_do = _.concat(pg_do[fkey], oth_do[fkey]);
            ch_conf["spec"]["encoding"]["color"] = {"field": "qfilter", "type": "ordinal", legend: null};
          }
          ch_conf['spec']['data']["values"] = ch_do;
        }
        //debugger;
        ch_conf["spec"]["name"] = ch_var["name"];
        ch_conf["spec"]["title"] = {"text": ch_var["name"], "orient": "bottom"};
        vega_render(ch_conf);
        //changing long-running chart renderer as promise
        // var chr_promise = new Promise(
        //   (resolve, reject) => {
        //     console.log(["triggering: ", seq, sseq, ch_var])
        //     try{
        //       vega_render(ch_conf);
        //       resolve(0);
        //     }catch(error){
        //       reject(error);
        //     }
        //   }
        // );
        // chr_promise.then((val) => {
        //     $(".mark-text text").css("opacity", 1);
        //     console.log(["rendered: ", seq, sseq, ch_var]);
        //   }).catch((resson) => {
        //     $(".data_load_alert").removeClass("d-none").children().first().html(`${seq}m${sseq},${ch_var} :Vega-chart rendering ERROR: ${reason}`);
        //     console.log([seq, sseq, ch_var, " >> Vega render error:", reason])
        //   });
        // $("body").removeClass("loading");
        // return chr_promise;
    }

    var uv_sections = {{ json.dumps(cvar[ui_conf_key]['uv_sections']) }};
    async function render_chart_card(fkey, seq, sseq, sec_id, sec_var){
      var init_idx = sec_var["init_opt"] ? sec_var["init_opt"] : 0;
      var ch_var = sec_var["chart_vars"][init_idx];
      // $.each(sec_var["chart_vars"], function(cseq, ch_var){
        ch_var["seq"] = seq;
        ch_var["sseq"] = sseq;
        ch_var["chart_vars_len"] = sec_var["chart_vars"].length;
        ch_var["chart_name"] = sec_var["chart_name"];
        var ch_card_templ = _.template($("#chart_card_templ").html());
        $(`#${sec_id}_cards .charts_row:last`).append(ch_card_templ(ch_var));
        let chr_promise = await update_chart(fkey, seq, sseq, ch_var, sec_var["combine_others"]);
      // });
      if(sec_var["chart_vars"].length > 1) {
        var cv_opts = {"header": ch_var["chart_var"],
                       "title": ch_var["chart_var"],
                       "liveSearch": "true",
                       "size":7,
                       "data-ch-name": sec_var["chart_name"]};
        $(`#${seq}_${sseq}_dd`)
            .dropdown({data: sec_var["chart_vars"],
                  value_key: "chart_var",
                  label_key: "var_name",
                  value: ch_var["chart_var"],
                  options:cv_opts})
          .on("change", function(e){
            var cur_sel = $(".selectpicker", $(this)).val();
            // alert([ "Ch-var:", $(".selectpicker", $(this)).val(),
            //        "  >> seq:", $(this).attr("data-seq"), 
            //        "  >> sseq:", $(this).attr("data-sseq"), 
            //        " >> ", JSON.stringify(uv_sections[Number($(this).attr("data-seq"))]["sec_vars"][Number($(this).attr("data-sseq"))]["chart_vars"])]);
            var cseq = Number($(this).attr("data-seq")),
                csseq = Number($(this).attr("data-sseq"));
            var cur_sec = uv_sections[cseq]["sec_vars"][csseq];
            var cur_dd_vars = cur_sec["chart_vars"];
            var cur_ch_var = _.find(cur_dd_vars, function(o) { return o["chart_var"] == cur_sel; });
            cur_ch_var["chart_name"] = cur_sec["chart_name"];
            update_chart(fkey, cseq, csseq, cur_ch_var, cur_sec["combine_others"]);
            //var chr_promise = await update_chart(cseq, csseq, cur_ch_var, cur_sec["combine_others"])
            //chr_promise.then(function(val){
            //  console.log(["rendered: ", seq, sseq, ch_var])
            //}).catch((resson) => {
            //            console.log([seq, sseq, ch_var, " >> Vega render error:", reason])
            //          }
            //);

            // [Number($(this).attr("data-seq"))][Number($(this).attr("data-sseq"))]["chart_vars"] 
          });
      }
    }

    async function render_row_group_chart_x_metric(fkey, seq, rg_sec_obj, gr_ch_var, gr_chart_do){
      $("body").addClass("loading");
      var ch_conf = _.cloneDeep(def_conf);
      var ch_id = `${gr_ch_var['seq']}_${gr_ch_var['sseq']}`; //_.kebabCase(ch_var["chart_name"]);
      ch_conf["id"] = `chart_div_${ch_id}`;
      $(`#chart_title_${ch_id} .chart_name`).html(gr_ch_var["chart_name"]).attr("title", gr_ch_var["chart_name"]);
      $(`#i_${ch_id}`).attr("data-chart-name", gr_ch_var["chart_name"]);
      //var ch_encode = {"x": {"field": "x",
      //                       "type": "ordinal",
      //                       //"sort": {"field": "c_share", "order": "descending"},
      //                       "axis": {"title": null, "labelAngle": -35, "labelMaxLength": 10}}}; // _.clone(def_encoding);
      //ch_encode["x"]["scale"] = {"domain": rg_sec_obj["nr_metric_cols"]};
      //
      //ch_encode["y"] = {"field": "y", "type": "quantitative", "axis": {"title": null}};
      //ch_conf["spec"]["encoding"] = ch_encode;
      //if(oth_do != null){
      //  ch_conf["spec"]["encoding"]["color"] = {"field": "qfilter", "type": "ordinal", legend: null};
      //}
      gr_ch_var["domain"] = rg_sec_obj["nr_metric_cols"];
      gr_ch_var["var_type"] = "ordinal";
      ch_conf = set_conf_layer(fkey, seq, "metric", "ordinal", ch_conf, gr_ch_var, "mean", "value");
      if(oth_do[fkey] != null){
        ch_conf["spec"]["encoding"]["color"] = {"field": "qfilter", "type": "ordinal", legend: null}; //{'direction': 'horizontal', 'orient': 'top-left'}
      }
      ch_conf['spec']['data']["values"] = gr_chart_do;
      ch_conf["spec"]["title"] = {"text": gr_ch_var["name"], "orient": "bottom"};
      ch_conf["spec"]["name"] = gr_ch_var["name"];
      await vega_render(ch_conf);
      $("body").removeClass("loading");
    }

    async function render_row_group_chart_x_sid(fkey, seq, rg_sec_obj, gr_ch_var, gr_chart_do){
      $("body").addClass("loading");
      var ch_conf = _.cloneDeep(def_conf);
      var ch_id = `${gr_ch_var['seq']}_${gr_ch_var['sseq']}`; //_.kebabCase(ch_var["chart_name"]);
      ch_conf["id"] = `chart_div_${ch_id}`;
      $(`#chart_title_${ch_id} .chart_name`).html(gr_ch_var["chart_name"]).attr("title", gr_ch_var["chart_name"]);
      $(`#i_${ch_id}`).attr("data-chart-name", gr_ch_var["chart_name"]);
      var lab_ang = -35; //(ui_conf_key == 'Natural_Resources') ? 0 : -35;
      ch_conf["spec"]["transform"] = [{"calculate": "if(datum.metric === 'collect', 0, if(datum.metric === 'use', 1, if(datum.metric === 'sell', 2, if(datum.metric === 'buy', 3, 4))))",
                                       "as": "met_sort"}]
      var ch_encode = {"x": {"field": 'sid',
                              "type": 'nominal',
                              //"scale":{"domain": rg_sec_obj["nr_metric_cols"]},
                              "axis": {"title": null, "labelAngle": lab_ang, "labelMaxLength": 10}}}; // _.clone(def_encoding);
      ch_encode["y"] = {"field": 'value', "aggregate": "mean", "type": "quantitative", "axis": {"title": null}};
      ch_encode["color"] = {"field": "metric", "type": "nominal", 
                            "legend": {'title': null, 'direction': 'horizontal', 'orient': 'top-left', 'offset': -20}};
                            //"scale": {"domain": rg_sec_obj["nr_metric_cols"]},
                            // legend: {"title": "Metric"}};
      ch_encode["tooltip"] = [{"field": 'sid', "type": 'nominal'},
                              {"field": 'value', "type": 'quantitative', "format": ".1f"},
                              {"field": "metric", "type": "nominal"}
                             ]
      ch_encode["order"] = {"field": "met_sort", type: "quantitative"}
      ch_conf["spec"]["encoding"] = ch_encode;
      ch_conf['spec']['data']["values"] = gr_chart_do;
      //debugger;
      ch_conf["spec"]["title"] = {"text": gr_ch_var["name"], "orient": "bottom"};
      ch_conf["spec"]["name"] = gr_ch_var["name"];
      await vega_render(ch_conf);
      $("body").removeClass("loading");
    }

    function filter_nr_type(rg_sec_obj, gp_col, gr_ch_var, sec_do){
      var gr_do = _.filter(sec_do, function(d){ 
                return (d[gp_col] == gr_ch_var["chart_name"]); });
      return gr_do;
      //var chart_rows = [];
      //if(gr_do.length == 1){
      //  _.each(rg_sec_obj["nr_metric_cols"], function(ccol){
      //    chart_rows.push({"x": ccol, "y": gr_do[0][ccol], "qfilter": gr_do[0]["qfilter"]});
      //  })
      //}
      //return chart_rows;
    }

    async function render_row_group(seq, rg_sec_obj, fkey){
      //To-Do: init section filters
      var grf_obj = rg_sec_obj['group_cols'];
      var sfilter_url = _.cloneDeep(gfilter_url);
      sfilter_url.setQuery("_by", grf_obj[0]);
      sfilter_url.setQuery("_c", `${grf_obj[0]}|unique`);
      // debugger;
      var rg_done = await $.ajax(sfilter_url.toString())
          .done(async function(dd_do){
            //init_dropdown(grf_obj, dd_do, true)
            // debugger;
            for(let cc=0; cc < dd_do.length; cc++){
              var gr_ch_var = {"chart_name": dd_do[cc][grf_obj[0]], //'gf_col']],
                               "seq": seq,
                               "sseq": cc,
                               "var_type": "quatitative"};
              if(fkey === "global"){
                var sec_var_templ = _.template($("#sec_var_templ").html());
                $(`#${rg_sec_obj["sec_id"]}_cards`).append(sec_var_templ({}));
                var rg_ch_card_templ = _.template($("#row_group_chart_card_templ").html());
                $(`#${rg_sec_obj["sec_id"]}_cards .charts_row:last`).append(rg_ch_card_templ(gr_ch_var));
              }
              var chart_rows = filter_nr_type(rg_sec_obj, grf_obj[0], gr_ch_var, pg_do[fkey]);
              if(oth_do != null){
                var oth_chart_rows = filter_nr_type(rg_sec_obj, grf_obj, gr_ch_var, oth_do[fkey]);
                chart_rows = _.concat(chart_rows, oth_chart_rows) 
              }
              //debugger;
              // To-Do: call variation of the function
              console.log([">> calling >>", `render_row_group_chart_x_${rg_sec_obj['x-axis']}`])
              await window[`render_row_group_chart_x_${rg_sec_obj['x-axis']}`](fkey, cc, rg_sec_obj, gr_ch_var, chart_rows);
              // render_row_group_chart(cc, rg_sec_obj, gr_ch_var, chart_rows);
              // var cv_opts = {"header": dd_do[cc][grf_obj['gf_col']],
              //                "title": dd_do[cc][grf_obj['gf_col']],
              //                "liveSearch": "true",
              //                "size":7,
              //                "data-ch-name": dd_do[cc][grf_obj['gf_col']]};
              //$(`#${seq}_${sseq}_dd`)
              //  .dropdown({data: dd_do,
              //    value_key: grf_obj['gf_col'],
              //    label_key: grf_obj['gf_col'],
              //    value: ch_var["chart_var"],
              //    options:cv_opts})
              //  .on("change", function(e){
              //    var cur_sel = $(".selectpicker", $(this)).val();
              //    // alert([ "Ch-var:", $(".selectpicker", $(this)).val(),
              //    //        "  >> seq:", $(this).attr("data-seq"), 
              //    //        "  >> sseq:", $(this).attr("data-sseq"), 
              //    //        " >> ", JSON.stringify(uv_sections[Number($(this).attr("data-seq"))]["sec_vars"][Number($(this).attr("data-sseq"))]["chart_vars"])]);
              //    var cseq = Number($(this).attr("data-seq")),
              //        csseq = Number($(this).attr("data-sseq")),
              //        cur_ch_var = {"chart_name": cur_sec["chart_name"]}
              //});
            }
            return true;
      });
    }


    async function render_univariate_section(fkey){
      // Start: section rendering
      $("body").addClass("loading");
      if(fkey === "global"){
        $("#nav-univariate #univariate-div *").remove();
      }
      $.each(uv_sections, async function(seq, sec_obj){
        // debugger;
        if(fkey === "global"){
          var tmpl_id = sec_obj["sec_type"].startsWith("row") ? "#sec_deck_templ" : "#sec_tab_base_templ";
          if(sec_obj["sec_type"] == "row" || $("#nav-univariate #univariate-div #sec_tab_base").length == 0){
            var sec_templ = _.template($(tmpl_id).html());
            $("#nav-univariate #univariate-div").append(sec_templ(sec_obj));
          }
          if(sec_obj["sec_type"].startsWith("tab")){
            var nav_tab_ele = _.template($("#sec_nav_tab_templ").html());
            sec_obj["seq"] = seq
            $(`#sec_tab_base #nav-sec-tab`).append(nav_tab_ele(sec_obj))
          }
          if($("#nav-univariate #univariate-div #sec_tab_base").length > 0){
            var tab_ele = _.template($("#sec_tab_templ").html())(sec_obj);
            $("#nav-sec-tab-content").append(tab_ele)
          }
        }
        if(sec_obj['sec_type'] == 'tab-grouped'){
          if(fkey === "global" || sec_obj["sec_id"] === fkey){
            var fp = new Promise(function(resolve, reject){
              try{
                if(_.isUndefined(sec_obj['sec_filters']) == false && $(`#${sec_obj["sec_id"]}_filters li.${sec_obj["sec_id"]}_filter`).length == 0){
                  render_filter_controls(sec_obj["sec_id"], sec_obj['sec_filters']);
                }
                resolve(0);
              }catch(err){
                reject(err);
              }
            })
            fp.then((res) => {
              render_row_group(seq, sec_obj, fkey);
            }, (err) => {
              console.log(["section filter redering failed:", sec_obj["sec_id"], sec_obj['sec_filters']]);
            });
          }
        } else{
          $.each(sec_obj["sec_vars"], async function(sseq, sec_var){
            sec_var["seq"] = seq;
            sec_var["sseq"] = sseq;
            var sec_var_templ = _.template($("#sec_var_templ").html());
            $(`#${sec_obj["sec_id"]}_cards`).append(sec_var_templ(sec_var));
            await render_chart_card(fkey, seq, sseq, sec_obj["sec_id"], sec_var);
          }); // End sec_vars
        }
        if(fkey === "global"){
          $("#nav-sec-tab .nav-item:first").addClass("active");
          $("#nav-sec-tab-content .tab-pane:first").addClass("show active");
        }
      });
      $("body").removeClass("loading");
      // End section rendering
    }

    async function load_data(durl, fkey){
        $("body").addClass("loading");
        // Load data & render chart
        console.log([">>> Calling data load:", durl, fkey]);
        await $.get(durl)
          .done(function(res_do){
            pg_do[fkey] = res_do;
            var others_url = durl.replace(/\=/g, "!=");
            if(others_url != durl){
                $.get(`others_${others_url}`)
                 .done(function(odo){
                    oth_do[fkey] = odo;
                    render_univariate_section(fkey);
                 }).fail(function(err){
                    $(".data_load_alert").removeClass("d-none").children().first().html(`${ui_conf_key} :Others DataFecth ERROR: ${err}`).removeClass("d-none");
                    console.error(ui_conf_key, " :Others DataFecth ERROR: ", err);
                 })
            }else {
              oth_do[fkey] = null;
              render_univariate_section(fkey);
            }
            //render default BV-section
            if(ui_conf_key == 'forest_gov'){
              render_bv_section(fkey);  // using global chart_params, split_cols
            }
          }).fail(function(err){
            $(".data_load_alert").removeClass("d-none").children().first().html(`${ui_conf_key} :DataFecth ERROR: ${err}`).removeClass("d-none");
            console.error(ui_conf_key, " :DataFecth ERROR: ", err);
          }).always(function() {
            $("body").removeClass("loading");
          })
    }

    async function init_dropdown(fkey, filters, gf_obj, dd_do, add_all){
      var cur_ds_url = (fkey === "global") ? ds_filter_url : _.cloneDeep(base_data_url);
      var dd_udo = dd_do;
      var gf_col = gf_obj['gf_col'];
      if(_.isUndefined(gf_obj["gf_child"]) == false){
        dd_udo = _.map(dd_do, function(dobj){
                                return _.pick(dobj, [gf_col]);});
      }
      var gf_opts = {"title": gf_obj['gf_title'],
                     "header": gf_obj['gf_title'],
                     "liveSearch": "true",
                     "size":10,
                     "container":"body"}
      var df_init_opt = {data: dd_udo,
                         value_key: gf_col,
                         label_key: gf_col,
                         target: '#',
                         options:gf_opts}
      if(_.isUndefined(add_all) || add_all){
        var sel_all = {}
        sel_all[gf_col] = "Select All";
        dd_udo.unshift(sel_all);
      }else{
        df_init_opt['value'] = dd_udo[0][gf_col];
        cur_ds_url.setQuery(gf_col, dd_udo[0][gf_col]);
        if(fkey != "global"){
          await load_data(cur_ds_url.toString(), fkey)
        }
      }
      $(`#${fkey}_${gf_col}_filter`)
          .dropdown(df_init_opt)
          .on("change", function(e){
            var $cur_gf = $(this);
            var cur_sel = $(".selectpicker", $cur_gf).val();
            //If its a parent dropdown, polulate respective options to the child-global-filter
            if(cur_sel != "Select All"){
              if(_.isUndefined(gf_obj["gf_child"]) == false){
                var gf_ch_col = gf_obj['gf_child'];
                var gf_child_match = _.find(filters, {"gf_col": gf_ch_col});
                if(_.isUndefined(gf_child_match) == false){

                  var gf_child_vo = _.find(gf_do[gf_col], function(pgf_do){ 
                                                            return (pgf_do[gf_col] == cur_sel)});
                  if(_.isUndefined(gf_child_vo) == false){
                    var gf_child_ddo = [];
                    _.each(gf_child_vo[`${gf_obj["gf_child"]}|unique`],
                    function(ddv){ 
                      var cgf_o = {}
                      cgf_o[gf_ch_col] = ddv;
                      gf_child_ddo.push(cgf_o); 
                    });
                    init_dropdown(fkey, filters, gf_child_match, gf_child_ddo, true);
                  }else{
                    $(`#${fkey}_${gf_obj["gf_child"]}_filter`).dropdown("destroy");
                  }
                }else{
                  $(".data_load_alert").removeClass("d-none").children().first().html(`test: Error rendering global filter: ${gf_obj['gf_col']}`).removeClass("d-none");
                  console.warn(["Error rendering global filter:", gf_obj])
                }
                cur_ds_url.removeSearch(gf_ch_col);
              }
              var gf_changed = $cur_gf.attr('data-col-nm');
              cur_ds_url.setQuery(gf_changed, cur_sel);
            }else {
              cur_ds_url.removeSearch(gf_col);
              if(_.isUndefined(gf_obj["gf_child"]) == false){
                $(`#${fkey}_${gf_obj["gf_child"]}_filter`).dropdown("destroy");
              }
              //debugger;
              //clear selection below throws data error 
              //$(".selectpicker", $cur_gf).selectpicker('deselectAll').selectpicker('render');
            }
            console.log([fkey, " - filter changed: ", cur_ds_url.toString()]);
            // update gfilter_url for getting valid combinations
            // gfilter_url need to be set dynamically if there's parent-child hierarchy
            // gfilter_url.setQuery($cur_gf.attr('data-col-nm'), $(".selectpicker", $cur_gf).val());
            //debugger;
            load_data(cur_ds_url.toString(), fkey);
          });
    }

    //----------------------BV-sectioni-start -----------//
    {% if ui_conf_key == 'forest_gov' %}
        var bv_def_encoding = {{json.dumps(cvar[ui_conf_key]['bv_sections']['def_encoding'])}};
        var chart_params = {{json.dumps(cvar[ui_conf_key]['bv_sections']['chart_params'])}};
        var split_cols = {{json.dumps(cvar[ui_conf_key]['bv_sections']['split_keys'])}};
        var chart_param = {}
        var bv_vg_conf = _.cloneDeep(def_conf);
        bv_vg_conf["spec"]["mark"] = {"type": "bar", "tooltip": {"content": "encoding"}}; // {"stacked": "normalize"};
        bv_vg_conf['spec']["encoding"] = _.cloneDeep(bv_def_encoding)

        fd_conf = _.cloneDeep(bv_vg_conf)
        fd_conf["id"] = "full_chart_div"
        fd_conf['spec']["width"] = 300;
        fd_conf['spec']["height"] = 450;

        spg_conf = _.cloneDeep(bv_vg_conf)
        spg_conf["id"] = "gsplit_chart_div"
        spg_conf['spec']["width"] = 280;
        spg_conf['spec']["height"] = 350;
    {% end %}

    function render_bv_charts(fkey, cparam, mod_encode){
        //handle default case when mod_encode is not passed
        //console.log(["rendering BV for Mod-encode:", cparam, " encode-obj:", JSON.stringify(mod_encode)])
        // render full-data-chart
        var ch_mark = {"type": "bar", "tooltip": {"content": "encoding"}}; //{"stacked": "normalize"};
        if(xcol_type == "quantitative" && ycol_type == "quantitative"){
          ch_mark["type"] = "circle";
        }
        if(cparam != "column"){
            fd_conf['spec']['data']["values"] = pg_do[fkey];
            fd_conf['spec']["encoding"][cparam] = mod_encode;
            fd_conf['spec']["mark"] = ch_mark; // {"mark": {"stacked": "normalize"}};
            // fd_conf["spec"]["title"] = ;
            vega_render(fd_conf);
            $(".mark-text text").css("opacity", 1);
        }
        spg_conf['spec']["encoding"][cparam] = mod_encode;
        spg_conf['spec']["mark"] = ch_mark; // {"mark": {"stacked": "normalize"}};
        spg_conf['spec']['data']["values"] = pg_do[fkey];
        // render split-key chart
        vega_render(spg_conf);
        $(".mark-text text").css("opacity", 1);
    }

    function filter_fn(hi_otpl, exclude_type){
      var fil_vals = {};
      // debugger;
      $.each(hi_otpl, function(opt_cat, otpl){
        fil_opts = _.filter(otpl, function(o) { return !_.includes(exclude_type, o["var_type"]); });
        if (fil_opts.length > 0){
          fil_vals[opt_cat] = fil_opts;
        }
      });
      return fil_vals;
    }

    function render_bv_section(fkey){   //uses chart_params
        $("#nav-bivariate #bv_chart_params *").remove();
        //render chart-param dropdowns
        $("body").addClass("loading");
        $.each(chart_params, function(dd_txt, param_obj){
            var hi_otpl = param_obj["li_src"],
                excl_types = param_obj["ex_var_type"];
            if(excl_types != "null"){
              hi_otpl = filter_fn(hi_otpl, excl_types)
            }
            //console.log(["Adding ", JSON.stringify(hi_otpl), " To Dropdown: ", dd_txt])
            var $dd_obj = $(`<div class="nav-item chart_param input-group url-filter" data-param-nm="${dd_txt}" id="${dd_txt}_filter"></div>`);
            var $dd_divg = $(`<div class="input-group"><div class="input-group-prepend"><span class="input-group-text" id="${dd_txt}_inputGroupPrepend">${dd_txt.toUpperCase()}</span></div>`);
            $dd_obj.append($dd_divg);
            $("#nav-bivariate #bv_chart_params").append($dd_obj);
            var $sel_obj = $(`<select class="px-1 selectpicker form-control" name="${dd_txt}" id="${dd_txt}_sel"></select>`);
            //var $sel_lbl = $(`<label for="${dd_txt}_sel">${dd_txt}</label>`);
            //$sel_lbl.append($sel_obj);
            $.each(hi_otpl, function(opt_cat, otpl){
                var $opt_grp = $(`<optgroup label="${opt_cat}"></optgroup>`);
                // console.log(["  >> Adding Optgroup:", opt_cat, " >> ", JSON.stringify(otpl), " To Dropdown: ", dd_txt])
                $.each(otpl, function(osq, opt){
                    $opt_grp.append($(`<option data-cparam="${dd_txt}" value="${opt['chart_var']}" data-var-type="${opt['var_type']}">${opt['var_name']}</option>`));
                    // console.log(["  >>> Adding ", opt_cat, " >>> ", JSON.stringify(opt), " To Dropdown: ", dd_txt])
                })
                $sel_obj.append($opt_grp)
            });
            $dd_divg.append($sel_obj);  //($sel_lbl);
            //$sel_obj.selectpicker({"header": `Choose-${dd_txt.toUpperCase()}`, "liveSearch": true});
            $sel_obj.select2({placeholder: `Choose-${dd_txt.toUpperCase()}`, allowClear: true, selectOnClose: true})
            $sel_obj.val(bv_def_encoding[dd_txt]["field"]);
            $sel_obj.trigger("change");
            $sel_obj.off("select2:select")// ("changed.bs.select");
            // $sel_obj.on("changed.bs.select", function(){
            $sel_obj.on("select2:select", function(){
                var $cur_opt = $(this);
                var var_col = $cur_opt.val();
                var $opt_ob = $(`option[value=${var_col}]`, $cur_opt);
                var cparam = $opt_ob.attr("data-cparam");
                var var_type = $opt_ob.attr("data-var-type");
                console.log(["cparam: ", cparam, " var_col: ", var_col, " var_type", var_type]);
                var mod_encode = {"field": var_col, "type": var_type};
                if(cparam == "color"){
                    mod_encode["legend"] = null;
                }else if(cparam == "y"){
                  agfn = (var_type == "quantitative") ? "mean" : "count";
                  ycol_type = var_type;
                  mod_encode = {"aggregate": agfn, "field": var_col, "type": var_type}
                }else{
                  xcol_type = var_type;
                  mod_encode["axis"] = {"title": null, "labelAngle": -25};
                }
                //`"${cparam}`: {"field": `${var_col}`, "type": `${var_type}`}};
                render_bv_charts(fkey, cparam, mod_encode)
            })
        })
        //Add group param dropdown
        var $gd_obj = $(`<div class="nav-item chart_param input-group url-filter" data-param-nm="group_cols" id="group_cols_filter"></div>`);
        var $dd_divg = $(`<div class="input-group"><div class="input-group-prepend"><span class="input-group-text" id="splitby_inputGroupPrepend">Split By</span></div>`);
        $gd_obj.append($dd_divg);
        $("#nav-bivariate #bv_chart_params").append($gd_obj);
        var $gsel_obj = $(`<select class="px-0 selectpicker" name="group_col" id="group_col_sel"></select>`);
        $.each(split_cols, function(gsq, gopt){
            $gsel_obj.append($(`<option value="${gopt['chart_var']}" data-var-type="${gopt['var_type']}">${gopt['chart_name']}</option>`));
        })
        $dd_divg.append($gsel_obj)
        // $gsel_obj.selectpicker({"header": "Split By"});
        $gsel_obj.select2({placeholder: "Choose-Split By", allowClear: true, selectOnClose: true});
        $gsel_obj.off("select2:select"); //("changed.bs.select");
        //$gsel_obj.on("changed.bs.select", function(){
        $gsel_obj.on("select2:select", function(){
            render_bv_charts(fkey, "column", {"field": $(this).val(), "type": "ordinal"});
        });
        // init bv-chart-blocks
        //fd_conf["spec"]["name"] = ch_var["name"];
        fd_conf['spec']['data']["values"] = pg_do[fkey];
        vega_render(fd_conf);
        spg_conf['spec']['data']["values"] = pg_do[fkey];
        spg_conf["spec"]["encoding"]["column"] = {"field": "ftreedens", "type": "ordinal"}
        vega_render(spg_conf);
        $(".mark-text text").css("opacity", 1);
        $("body").removeClass("loading");
    }
    //----------------------BV-sectioni-end -----------//
    async function render_filter_controls(fil_key, filter_list){
      $(`#${fil_key}_filters *`).remove();
      for(var seq=0; seq < filter_list.length; seq++){
        var gf_obj = filter_list[seq];
        var gf_col = gf_obj['gf_col'];
        var gf_html = `<li class="nav-item ${fil_key}_filter" data-col-nm="${gf_col}" id="${fil_key}_${gf_col}_filter"></li>`;
        $(`#${fil_key}_filters`).append(gf_html);
        var filter_url = _.cloneDeep(gfilter_url);
        filter_url.setQuery("_by", gf_col);
        // debugger;
        if(_.isUndefined(gf_obj['parent_gf_col'])){
          if(_.isUndefined(gf_obj['gf_child']) == false){
            filter_url.setQuery("_c", `${gf_obj['gf_child']}|unique`);
          }else{
            filter_url.setQuery("_c", `${gf_col}|unique`);
          }
          var dd_do = await $.ajax(filter_url.toString())
            .done(function(dd_do){
              gf_do[gf_col] = dd_do;
              return dd_do;
            })
            .fail(function(err){
              console.log(["filter dropdown", fil_key, gf_obj, err]);
              return null;
            });
        }
          await init_dropdown(fil_key, filter_list, gf_obj, dd_do, gf_obj['select_all']);
      } // End Globalfilters rendting

    }

    $(async function(){
      // init top section based on ui_conf_key
      $("body").addClass("loading");
      $('#top_sec_container *').remove();
      $('#top_sec_container').append(_.template($(`.${ui_conf_key}_sec_tmpl:first`).html()));
      // ds_filter_url = URI("ifri_commfor");
      // Start: Global-filters rendering
      var inip = new Promise((res, rej) => {
        try{
          render_filter_controls("global", gfilters);
          res(0);
        }catch(err){
          rej(err);
        }
      });
      // default load
      //debugger;
      inip.then((res) => { load_data(ds_filter_url.toString(), "global"); },
                (err) => { console.log(["Init render_filter_controls err", err]) });
      //$("body").on("click", ".export_png", function(e){
      //  var $cur_ch = $(e.target);
      //  // debugger;
      //  chart_download($cur_ch.attr("data-target"), $cur_ch.attr("data-chart-name"));
      //});

      $("body").removeClass("loading");
    });
    // $('#x_axis_sel').dropdown({url: 'ifri_commfor_col4axis' })
    // $('#y_axis_sel').dropdown({url: 'ifri_commfor_col4axis' })
    // function chart_download(ele_id, chart_name){
    //   // debugger;
    //   html2canvas(document.getElementById(`${ele_id}`)).then(function(canvas) {
    //     //TEST
    //     // var base64image = canvas.toDataURL("image/png");
    //     // window.open(base64image , "_blank");
    //     // Export canvas as a blob 
    //     $('.export_png_alert').removeClass("d-none");
    //     $("body").addClass("loading");
    //     var c2b_prom = new Promise((resolve, reject) => {
    //       try{
    //         canvas.toBlob(function(blob) { return resolve(blob) });
    //       }catch(err){
    //         return reject(err);
    //       }
    //     });
    //     c2b_prom.then((blob) => {
    //                     saveAs(blob, `${chart_name}_chart.png`);
    //                   }, 
    //                   (err) => {
    //                     console.log([" #### Export PNG error: ", `${chart_name}_chart.png`]);
    //                   })
    //             .finally(() => {
    //               $("body").removeClass("loading");
    //               $('.export_png_alert').addClass("d-none");
    //             });
    //     // canvas.toBlob(function(blob) {
    //     //     // Generate file download
    //     //     //alert(`Saving chart to image file: ${chart_name}.png in few seconds`);
    //     //     setTimeout(function(){
    //     //       saveAs(blob, `${chart_name}_chart.png`);
    //     //       $("body").removeClass("loading");
    //     //       $('.export_png_alert').addClass("d-none");
    //     //     }, 10000);
    //     // });
    //   });
    // }
  </script>