<!doctype html>
<html lang="en">
{% from gramex.config import variables as cvar %}
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160390300-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'UA-160390300-1');
  </script>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{cvar['app_title']}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="ui/bootstraptheme.css">
  <script src="ui/jquery/dist/jquery.min.js"></script>
  <script src="ui/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="ui/bootstrap-select/dist/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="ui/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
  <!-- trial for accordin & collapse -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">   -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
  <!-- Commonly used libraries: -->
  <!-- <script src="ui/d3v5/dist/d3.min.js"></script> -->
  <script src="ui/lodash/lodash.min.js"></script>
  <script src="ui/morphdom/dist/morphdom-umd.min.js"></script>
  <script src="ui/g1/dist/g1.min.js"></script>
  <!-- <script src="ui/moment/min/moment-with-locales.min.js"></script> -->
  <!-- <script src="ui/daterangepicker/daterangepicker.js"></script> -->
  <!-- <script src="ui/leaflet/dist/leaflet.js"></script> -->
  <!-- <script src="ui/topojson/dist/topojson.min.js"></script> -->
  <!-- -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/URI.js/1.18.1/URI.js"></script>
  <script src="https://unpkg.com/simple-statistics@5.2.1/dist/simple-statistics.min.js"></script>
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" /> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
  <!-- <script src="ui/vega/build/vega.min.js"></script> -->
  <!-- <script src="ui/vega-lite/build/vega-lite.min.js"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@4"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
  <script src="js/vega_render.js"></script>
  <!-- <script src="js/html2canvas.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script> -->
  <!-- <script src="js/FileSaver.min.js"></script> -->
  <!-- <script src="js/bv_section.js"></script> -->
<style>
  {% from gramex.config import variables as cvar %}
  .modal-load {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .7 )
    url('/assets/img/ajax-loader.gif')
    50% 50%
    no-repeat;
  }
  /* When the body has the loading class, we turn
  the scrollbar off with overflow:hidden */
  body.loading {
    overflow: hidden;
  }
  /* Anytime the body has the loading class, our
  modal element will be visible */
  body.loading .modal-load {
    display: block;
  }
  .head-container{
    min-height: 4rem;
    background-color: #563d7c;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
  }
  .title-case{
    text-transform: capitalize; 
  }
  .card-title{ 
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
    text-transform: capitalize; 
  }
  .chart_card.card{
    width: 20rem;
    padding: 0px;
    margin-bottom: 1px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    display: flex;
    flex: 1 0 0%;
    flex-direction: column;
  }
  .nav-item.nav-link.active{
    background: #cec6f9f5;
  }
  .sec-deck, .bv_charts{
    margin-bottom: 1.5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
  }
  .chart-body{
    padding: 0.25rem;
  }
  .chart_param.nav-item.url-filter select{
    width: 12rem;
  }
  </style>
</head>

<body class="bg-light">
  {# % set print(cvar) % #}
  {% set base = cvar['APP_ROOT'] %}
  <div class="head-container">
    {% include template-navbar.html %}
  </div>
  <!-- Load icon-->
  <div class="modal modal-load">
  </div>
  <script>
    // loading icon triggered on ajax call
    var $body = $("body");
    $(document).on({
      ajaxStart: function () { $body.addClass("loading"); },
      ajaxStop: function () { $body.removeClass("loading"); }
    });
  </script>
  {# % set print("Query param: ", handler.get_query_argument('page')) % #}
  {% if handler.get_query_argument('page', 'home') == "home" %}
    {% include intro.html %}
  {% elif handler.get_query_argument('page') == "forgov" %}
    {# % include forgov.html % #}
    {% module Template('forgov.html', ui_conf_key='forest_gov', kwargs=handler.get_template_namespace()) %}
  {% elif handler.get_query_argument('page') == "land_use" %}
    {% module Template('forgov.html', ui_conf_key='land_use', kwargs=handler.get_template_namespace()) %}
  {% elif handler.get_query_argument('page') == "Livelihood" %}
    {% module Template('forgov.html', ui_conf_key='Livelihood', kwargs=handler.get_template_namespace()) %}
  {% elif handler.get_query_argument('page') == "Natural_Resources" %}
    {% module Template('forgov.html', ui_conf_key='Natural_Resources', kwargs=handler.get_template_namespace()) %}
  {% end %}
</body>

</html>