<div class="container-fluid my-4 sec-container">
    <h2>About Sentinel Landscape Network</h2>
    <p>The Sentinel Landscape network, is an initiative to develop and to implement a standardized matrix, consisting of a set of institutional, environmental and livelihood indicators to monitor landscape sustainability across a wide variation of cultural, institutional and environmental settings.</p>
    <p>
        Part of the Consortium Research Program on Forests, Trees and Agroforestry: Livelihoods, Landscapes and Governance (FTA) which aims at enhancing the management and use of forests, agroforestry and tree genetic resources across the landscape from forests to farms, the network consist of landscapes that a comprises of parts of a contiguous forest transition curve. The term ``sentinel'' is borrowed from the health sector (especially epidemiology) where it is used to describe a community from which in-depth data are gathered and the resulting analysis is used to inform programs and policies affecting a larger geographic area.
    </p>
    
    <h3>Contact us</h3>
    <strong>The World Agroforestry Centre (ICRAF)</strong>&nbsp;<a target="_bank" href="http://www.worldagroforestry.org/contact-us/">Click Here!</a>
</div>